{% from "govuk/components/footer/macro.njk" import govukFooter %}

    {{ govukFooter({
        rebrand: true,
        meta: {
          items: [
            {
              href: "http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml",
              text: i18n.FOOTPolicies,
              attributes: {
                "data-event-id": "footer-policies-link-clicked"
              }
            },
            {
              href: "/help/cookies",
              text: i18n.FOOTCookies,
              attributes: {
                "data-event-id": "footer-cookies-link-clicked"
              }
            },
            {
              href: "/help/contact-us",
              text: i18n.FOOTContactUs,
              attributes: {
                "data-event-id": "footer-contact-us-link-clicked"
              }
            },
            {
              href: "/confirmation-statement/accessibility-statement",
              text: i18n.FOOTAccessibility,
              attributes: {
                "data-event-id": "footer-accessibility-statement-link-clicked"
              }
            },
            {
              href: "https://developer.companieshouse.gov.uk/",
              text: i18n.FOOTDevelopers,
              attributes: {
                "data-event-id": "footer-developer-link-clicked"
              }
            }
          ]
        }
      })
    }}
