 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{i18n.SCSTitle}}</h1>

        <p>
        {{i18n.SCSDataBlockName}} <strong>{{company.companyName}}</strong><br>
        {{i18n.SCSDataBlockNumber}} <strong>{{company.companyNumber}}</strong><br>
        {{i18n.SCSDataBlockCSDate}} <strong>{{company.confirmationStatement.nextMadeUpTo}}</strong>
      </p>
        <form action="" method="post">
          {% include "includes/csrf_token.html" %}
          {% if ecctEnabled %}
            {% if confirmationStatementError or lawfulActivityStatementError %}

              {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
            {
              text: confirmationStatementError,
              href: "#confirmation-statement"
            },
            {
              text: lawfulActivityStatementError,
              href: "#lawful-activity-statement"
            }
          ]
          }) }}

              {% if confirmationStatementError %}
                {% set confirmationStatementError = {
                  text: confirmationStatementError
                } %}
              {% else %}
                {% set confirmationStatementError = false %}
              {% endif %}

              {% if lawfulActivityStatementError %}
                {% set lawfulActivityStatementError = {
                  text: lawfulActivityStatementError
                } %}
              {% else %}
                {% set lawfulActivityStatementError = false %}
              {% endif %}

            {% endif %}

            <p>
              {{ govukCheckboxes({
            idPrefix: "confirmation-statement",
            name: "confirmationStatement",
            errorMessage: confirmationStatementError,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                html: i18n.SCSCheckboxActComplianceStart,
                id: "confirmation-statement",
                name: "confirmationStatement",
                value: "true",
                attributes: {
                  "data-event-id": "confirmation-statement-checkbox-clicked"
                }
              }
            ]
          }) }}
            </p>
            <p>
              {{ govukCheckboxes({
            idPrefix: "lawful-activity-statement",
            name: "lawfulActivityStatement",
            errorMessage: lawfulActivityStatementError,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                text: i18n.SCSCheckboxLawfulActivities,
                id: "lawful-activity-statement",
                name: "lawfulActivityStatement",
                value: "true",
                attributes: {
                  "data-event-id": "lawful-activity-statement-checkbox-clicked"
                }
              }
            ]
          }) }}
            </p>

          {% endif %}

          {% if isPaymentDue %}
            <p>{{i18n.SCSPaymentMessageRequired}}</p>
          {% endif %}

          {% if isPaymentDue %}
            {{ govukButton({
          text: i18n.SCSContinueButtonPayment,
          attributes: {
            id: "confirm-and-pay",
            "data-event-id": "confirm-and-pay-button",
            "onclick": "_paq.push(['trackGoal', 4])"
          }
        }) }}
          {% else %}
            {{ govukButton({
          text: i18n.SCSContinueButtonNoPayment,
          attributes: {
            id: "confirm-and-submit",
            "data-event-id": "confirm-and-submit-button",
            "onclick": "_paq.push(['trackGoal', 5])"
          }
        }) }}
          {% endif %}

        </form>
      </div>
    </div>