{% set checkboxHtml %}
{{ i18n.SCSCheckboxActComplianceStart }}
{% if company.jurisdiction == "scotland" %}
  <a class="govuk-link" target="_blank" href="https://www.legislation.gov.uk/uksi/2017/694/regulation/35/">
    {{ i18n.SCSCheckboxActComplianceLinkScotland }}
  </a>
{% else %}
  <a class="govuk-link" target="_blank" href="https://www.legislation.gov.uk/ukpga/Edw7/7/24/section/10D">
    {{ i18n.SCSCheckboxActComplianceLinkEWNI }}
  </a>
{% endif %}
{{ i18n.SCSCheckboxActComplianceEnd }}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{i18n.SCSTitle}}</h1>

    {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: i18n.SCSDataBlockName
            },
            {
              text: company.companyName
            }
          ],
          [
            {
              text: i18n.SCSDataBlockNumber
            },
            {
              text: company.companyNumber
            }
          ],
          [
            {
              text: i18n.SCSDataBlockCSDate
            },
            {
              text: csDateValue
            }
          ]
        ]
      }) }}

    <form action="" method="post">
      {% include "includes/csrf_token.html" %}
      {% if ecctEnabled %}
        {% if confirmationStatementError or lawfulActivityStatementError %}

          {% set errorList = [] %}

          {% if confirmationStatementError %}
            {% set errorList = errorList.concat([{
              text: i18n.SCSConfirmationStatementError,
              href: "#confirmation-statement"
            }]) %}
          {% endif %}

          {% if lawfulActivityStatementError %}
            {% set errorList = errorList.concat([{
              text: i18n.SCSLawfulActivityStatementError,
              href: "#lawful-activity-statement"
            }]) %}
          {% endif %}

          {% if errorList | length > 0 %}
            {{ govukErrorSummary({
              titleText: i18n.SCSErrorTitle,
              errorList: errorList
            }) }}
          {% endif %}


          {% if confirmationStatementError %}
            {% set confirmationStatementError = {
              text: i18n.SCSConfirmationStatementError
            } %}
          {% else %}
            {% set confirmationStatementError = false %}
          {% endif %}

          {% if lawfulActivityStatementError %}
            {% set lawfulActivityStatementError = {
              text: i18n.SCSLawfulActivityStatementError
            } %}
          {% else %}
            {% set lawfulActivityStatementError = false %}
          {% endif %}
        {% endif %}

        {% if confirmationChecked %}

          {{ govukCheckboxes({
            idPrefix: "confirmation-statement",
            name: "confirmationStatement",
            errorMessage: confirmationStatementError,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                html: checkboxHtml,
                id: "confirmation-statement",
                name: "confirmationStatement",
                checked: confirmationChecked,
                value: "true",
                attributes: {
                  "data-event-id": "confirmation-statement-checkbox-clicked"
                }
              }
            ]
          }) }}
        {% else %}

          {{ govukCheckboxes({
            idPrefix: "confirmation-statement",
            name: "confirmationStatement",
            errorMessage: confirmationStatementError,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                html: checkboxHtml,
                id: "confirmation-statement",
                name: "confirmationStatement",
                value: "true",
                attributes: {
                  "data-event-id": "confirmation-statement-checkbox-clicked"
                }
              }
            ]
          }) }}

        {% endif %}

        {% if lawfulActivityChecked %}
          {{ govukCheckboxes({
            idPrefix: "lawful-activity-statement",
            name: "lawfulActivityStatement",
            errorMessage: lawfulActivityStatementError,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                text: i18n.SCSCheckboxLawfulActivities,
                id: "lawful-activity-statement",
                name: "lawfulActivityStatement",
                checked: lawfulActivityChecked,
                value: "true",
                attributes: {
                  "data-event-id": "lawful-activity-statement-checkbox-clicked"
                }
              }
            ]
          }) }}
        {% else %}
          {{ govukCheckboxes({
            idPrefix: "lawful-activity-statement",
            name: "lawfulActivityStatement",
            errorMessage: lawfulActivityStatementError,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                text: i18n.SCSCheckboxLawfulActivities,
                id: "lawful-activity-statement",
                name: "lawfulActivityStatement",
                value: "true",
                attributes: {
                  "data-event-id": "lawful-activity-statement-checkbox-clicked"
                }
              }
            ]
          }) }}
        {% endif %}

      {% endif %}

      {% if isPaymentDue %}
        <p>{{i18n.SCSPaymentMessageRequiredStart}}
          <strong>£34</strong>
          {{i18n.SCSPaymentMessageRequiredEnd}}</p>
      {% endif %}

      {% if isPaymentDue %}
        {{ govukButton({
          text: i18n.SCSContinueButtonPayment,
          attributes: {
            id: "confirm-and-pay",
            "data-event-id": "confirm-and-pay-button",
            "onclick": "_paq.push(['trackGoal', 4])"
          }
        }) }}
      {% else %}
        {{ govukButton({
          text: i18n.SCSContinueButtonNoPayment,
          attributes: {
            id: "confirm-and-submit",
            "data-event-id": "confirm-and-submit-button",
            "onclick": "_paq.push(['trackGoal', 5])"
          }
        }) }}
      {% endif %}

    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const date = "{{ company.confirmationStatement.nextMadeUpTo }}";
    const dateObj = new Date(date);
    const formattedDate = dateObj.toLocaleDateString("en-GB", {
      day: "numeric",
      month: "long",
      year: "numeric"
    });

    document
      .getElementById("formattedDate")
      .textContent = formattedDate;
  });
</script>