{% if corporateDirectorList.length > 1 %}
<h2 class="govuk-heading-m">{{ corporateDirectorList.length }} corporate directors</h2>
{% elseif corporateDirectorList.length === 1 %}
<h2 class="govuk-heading-m">1 corporate director</h2>
{% endif %}

{% for director in corporateDirectorList %}
<div class="govuk-summary-card govuk-!-margin-bottom-4">
    <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
        <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{director.surname}}, {{director.forename}}</p>
        {{govukTag({
        text: "Active",
        classes: "govuk-tag--green"
        }) }}
    </div>
    <div style="display: flex" class="govuk-!-padding-1">
        <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence address</dt>
                <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <p>{{director.serviceAddress}}</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Appointed date</dt>
                <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <p>{{director.dateOfAppointment}}</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Identification type</dt>
                <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <p>{{director.identificationType}}</p>
                </dd>
            </div>
            {% if director.lawGoverned %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Law governed</dt>
                <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <p>{{director.lawGoverned}}</p>
                </dd>
            </div>
            {% endif %}
            {% if director.legalForm %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Legal form</dt>
                <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <p>{{director.legalForm}}</p>
                </dd>
            </div>
            {% endif %}
            {% if director.placeRegistered %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Place registered</dt>
                <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <p>{{director.placeRegistered}}</p>
                </dd>
            </div>
            {% endif %}
            {% if director.registrationNumber %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Registration number</dt>
                <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                    <p>{{director.registrationNumber}}</p>
                </dd>
            </div>
            {% endif %}
        </dl>
    </div>
</div>
{% endfor %}

