{% if corporateSecretaryList.length > 1 %}
  <h2 class="govuk-heading-m">{{ corporateSecretaryList.length }} corporate secretaries</h2>
{% elseif corporateSecretaryList.length === 1 %}
  <h2 class="govuk-heading-m">1 corporate secretary</h2>
{% endif %}

{% for secretary in corporateSecretaryList %}
  <div class="govuk-summary-card govuk-!-margin-bottom-4">
    <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
      <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{secretary.surname}}, {{secretary.forename}}</p>
        {{govukTag({
          text: "Active",
          classes: "govuk-tag--green"
        }) }}
    </div>
    <div style="display: flex" class="govuk-!-padding-1">
      <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Correspondence address</dt>
          <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
            <p>{{secretary.serviceAddress}}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appointed date</dt>
          <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
            <p>{{secretary.dateOfAppointment}}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Identification type</dt>
          <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
            <p>{{secretary.identificationType}}</p>
          </dd>
        </div>
        {% if secretary.lawGoverned %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Law governed</dt>
            <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
              <p>{{secretary.lawGoverned}}</p>
            </dd>
          </div>
        {% endif %}
        {% if secretary.legalForm %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Legal form</dt>
            <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
              <p>{{secretary.legalForm}}</p>
            </dd>
          </div>
        {% endif %}
        {% if secretary.placeRegistered %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Place registered</dt>
            <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
              <p>{{secretary.placeRegistered}}</p>
            </dd>
          </div>
        {% endif %}
        {% if secretary.registrationNumber %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Registration number</dt>
            <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0">
              <p>{{secretary.registrationNumber}}</p>
            </dd>
          </div>
        {% endif %}
      </dl>
    </div>
  </div>
{% endfor %}
