<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3 align-center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">
      Share capital
    </p>
  </div>
  {{ govukSummaryList({
    classes: 'govuk-!-margin-3',
    rows: [
      {
        key: {
          text: "Share type"
        },
        value: {
          text: statementOfCapital.classOfShares
        }
      },
      {
        key: {
          text: "Currency"
        },
        value: {
          text: statementOfCapital.currency
        }
      },
      {
        key: {
          text: "Number of shares"
        },
        value: {
          text: statementOfCapital.numberAllotted
        }
      },
      {
        key: {
          text: "Value of each share"
        },
        value: {
          text: statementOfCapital.aggregateNominalValue
        }
      },
      {
        key: {
          text: "Total value"
        },
        value: {
          text: +statementOfCapital.numberAllotted * +statementOfCapital.aggregateNominalValue
        }
      },
      {
        key: {
          text: "Rights attached to this share type"
        },
        value: {
          text: statementOfCapital.prescribedParticulars
        }
      }
    ]
  }) }}
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3 align-center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">
      Totals
    </p>
  </div>
  {{ govukSummaryList({
    classes: 'govuk-!-margin-3',
    rows: [
      {
        key: {
          text: "Currency"
        },
        value: {
          text: statementOfCapital.currency
        }
      },
      {
        key: {
          text: "Total number of shares"
        },
        value: {
          text: statementOfCapital.totalNumberOfShares
        }
      },
      {
        key: {
          text: "Total value of all shares"
        },
        value: {
          text: statementOfCapital.totalAggregateNominalValue
        }
      },
      {
        key: {
          text: "Total amount unpaid for all shares"
        },
        value: {
          text: statementOfCapital.totalAmountUnpaidForCurrency
        }
      }
    ]
  }) }}
</div>