{{ govukTable({
  caption: "Statement of capital (share capital)",
  firstCellIsHeader: false,

  rows: [
    [
      {
        text: "Class of shares"
      },
      {
        text: statementOfCapital.classOfShares
      }
    ],
    [
      {
        text: "Currency"
      },
      {
        text: statementOfCapital.currency
      }
    ],
    [
      {
        text: "Number allotted"
      },
      {
        text: statementOfCapital.numberAllotted
      }
    ],
    [
      {
        text: "Aggregate nominal value"
      },
      {
        text: statementOfCapital.aggregateNominalValue
      }
    ]
  ]
}) }}
<p>Each share has full rights in the company with respect to voting, dividends and distributions.</p>

{{ govukTable({
  caption: "Statement of capital (totals)",
  firstCellIsHeader: false,
  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: statementOfCapital.totalCurrency
      }
    ],
    [
      {
        text: "Total number of shares"
      },
      {
        text: statementOfCapital.totalNumberOfShares
      }
    ],
    [
      {
        text: "Total aggregate nominal value"
      },
      {
        text: statementOfCapital.totalAggregateNominalValue
      }
    ]
  ]
}) }}
