{% block head %}
    <link href="{{assetPath}}/stylesheets/govuk-frontend/v5.10.2/govuk-frontend-5.10.2.min.css" rel="stylesheet" />

{% endblock %}

    {% include "limited-partners/partials/header.njk" %}

    {% include "limited-partners/partials/footer.njk" %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="{{assetPath}}/javascripts/govuk-frontend/v5.10.2/govuk-frontend-5.10.2.min.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}