{% extends "ch-node-utils/templates/layouts/template.njk" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block head %}
    {{super()}}
    {% include "limited-partners/partials/meta_header.njk" %}
{% endblock %}

{% block header %}
    {{super()}}
    {% include "limited-partners/partials/header.njk" %}
{% endblock %}

{% block footer %}
    {{super()}}
    {% include "limited-partners/partials/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    {{super()}}
{% endblock %}
