{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility statement
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility statement for the File a confirmation statement service</h1>
      <p>This accessibility statement applies to the ‘File a confirmation statement’ service.</p>
      <p>This website is run by Companies House. We want as many people as possible to be able to use this website. For example, that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p>We’ve also made the website text as simple as possible to understand.</p>
      <p>
        <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-m">How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>some users may experience being logged out after a period of time, without sufficient warning</li>
      </ul>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p>We’re always looking to improve the accessibility of our services. If you find any problems not listed on this page or have difficulty using any part of this service, <a class="govuk-link" href="https://www.gov.uk/find-contact-details-companies-house">contact Companies House</a>.</p>
      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we
        respond to your complaint,
        <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
      <p>Companies House is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      <h3 class="govuk-heading-s">Compliance Status</h3>
      <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
      <p>This website is partially compliant with the
        <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a>
        AA standard, due to the non-compliances listed below.</p>

      <h2 class="govuk-heading-m">Non-accessible content</h2>
      <p>The content listed below is non-accessible for the following reasons.</p>
      <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
      <p>There is an intermittent issue with the timeout functionality on this service, which can result in users being timed out without receiving prior warning, or given the opportunity to extend their session.
        We are currently investigating this issue, and will provide a timescale for the fix as soon as possible.
        This doesn’t meet WCAG success criterion 2.2.1 (Timing Adjustable).</p>

      <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
      <p>To improve this service's accessibility, we:
      <ul class="govuk-list govuk-list--bullet">
        <li>work with real users who have accessibility issues to make sure that our services meet their needs</li>
        <li>carry out internal tests for compliance with Web Content Accessibility Guidelines 2.2 level A and level AA</li>
        <li>recruit users through
          <a class="govuk-link" href="https://www.gov.uk/government/news/help-improve-companies-house">our user panel</a>
          and agencies to take part in usability sessions</li>
        <li>build and test our services to meet
          <a class="govuk-link" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements">government accessibility requirements</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p>This statement was prepared on 22 April 2021. It was last reviewed on 19 April 2026.</p>
      <p>This website was last tested on 16 September 2025 against the WCAG 2.2 AA standard. The test of a representative sample of pages was carried out by the <a class="govuk-link" href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre</a> (DAC).</p>
    </div>
  </div>
{% endblock %}
