{% extends "layout.html" %}

{% block pageTitle %}
  {% if tradingStatusErrorMsg %}
    Error:
  {% endif %}
  Company trading status
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkUrl
   }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% if tradingStatusErrorMsg %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
            {
              text: tradingStatusErrorMsg,
              href: "#trading-status"
            }
          ]
          }) }}
          {% set tradingStatusError = {
            text: tradingStatusErrorMsg
          } %}
        {% else %}
          {% set tradingStatusError = false %}
        {% endif %}


        <h1 class="govuk-heading-xl">Check the trading status</h1>


        {% if tradingStatus === '0' %}
          <p>No company shares were traded on a market during this confirmation period.</p>
        {% endif %}

          <br/>
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "trading-status",
          name: "tradingStatus",
          errorMessage: tradingStatusError,
          fieldset: {
            legend: {
              text: "Is the company trading status correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                "data-event-id": "trading-status-correct-yes"
              }
            },
            {
              value: "no",
              text: "No",
              attributes: {
                "data-event-id": "trading-status-correct-no"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
            attributes: {
              "data-event-id": "continue-button",
              "id": "submit"
            }
          })
        }}
      </form>
    </div>
</div>
{% endblock %}
