{% extends "layout.html" %}

{% block pageTitle %}
  {% if tradingStatusErrorMsg %}
    Error:
  {% endif %}
  Company trading status
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkUrl
   }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% if tradingStatusErrorMsg %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
            {
              text: tradingStatusErrorMsg,
              href: "#trading-status"
            }
          ]
          }) }}
          {% set tradingStatusError = {
            text: tradingStatusErrorMsg
          } %}
        {% else %}
          {% set tradingStatusError = false %}
        {% endif %}


        <h1 class="govuk-heading-xl">Check the trading status</h1>


        {% if tradingStatus === 'NOT_ADMITTED' %}
          <p>No company shares were traded on a market during this confirmation period</p>
        {% elseif tradingStatus === 'ADMITTED' %}
          <p>Company shares were traded on a market, and the company has not been subject to DTR5, during this confirmation statement period</p>
        {% elseif tradingStatus === 'ADMITTED_DTR5' %}
          <p>Company shares were traded on a market, and the company has been subject to DTR5, during this confirmation statement period</p>
        {% endif %}

        {% set dtrDetails %}
          <p>DTR5 refers to Vote Holder and Issuer Notification Rules in
            <a href="https://www.handbook.fca.org.uk/handbook/DTR/5.pdf">Chapter 5 of the Financial Conduct Authority's Disclosure and Transparency Rules</a>.</p>
          <p>It applies to UK companies with shares traded on a market. Under DTR5, shareholders must notify the company if their shareholding reaches or falls below certain percentage thresholds (starting at 3%).</p>
        {% endset %}

        {% if tradingStatus === 'ADMITTED' or tradingStatus === 'ADMITTED_DTR5' %}
          {{ govukDetails({
             summaryText: "What is DTR5?",
             html: dtrDetails
          }) }}
        {% endif %}
          <br/>
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "trading-status",
          name: "tradingStatus",
          errorMessage: tradingStatusError,
          fieldset: {
            legend: {
              text: "Is the company trading status correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                "data-event-id": "trading-status-correct-yes"
              }
            },
            {
              value: "no",
              text: "No",
              attributes: {
                "data-event-id": "trading-status-correct-no"
              }
            }
          ]
        }) }}

        {{ govukButton({
           text: "Continue",
           attributes: {
             "data-event-id": "continue-button"
           }
        }) }}
      </form>
    </div>
</div>
{% endblock %}
