{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the company
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/company-number"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>
      <h2 class="govuk-heading-l">{{company.companyName}}</h2>
      <form action="" method="post">

        {% set notDueWarningHTML %}
        <p style="font-weight: 400; display: inline;">
          You are not due to file a confirmation statement. If you file a confirmation statement today, it will show the date as
          <strong>{{notDueWarning.todaysDate}}</strong>
          and this will change your future review periods.
          <br><br>
          <a href="https://www.youtube.com/watch?v=dxN4djaAE3k">This video explains review periods and payment periods (opens in new tab).</a>
        </p>
        {% endset %}

        {% set coTypeWarningHTML %}
          This company does not meet all the criteria, you will need to file a confirmation statement using our
          <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1">WebFiling service</a>.<br><br>
          This service can only be used to file confirmation statements for private limited companies of a certain size.
        {% endset %}

        {% set registeredAddress %}
          {{company.registeredOfficeAddress.addressLineOne}}
          <br/>
          {{company.registeredOfficeAddress.addressLineTwo}}
          <br/>
          {{company.registeredOfficeAddress.postalCode}}
        {% endset %}


        {{ govukSummaryList({
          rows: [
            {
              key: {
                classes: "govuk-!-width-full",
                text: "Company number"
              },
              value: {
                text: company.companyNumber
              }
            },
            {
              key: {
                text: "Status"
              },
              value: {
                text: company.companyStatus
              }
            },
            {
              key: {
                text: "Incorporation date"
              },
              value: {
                text: company.dateOfCreation
              }
            },
            {
              key: {
                text: "Company type"
              },
              value: {
                text: company.type
              }
            },
            {
              key: {
                text: "Registered office address"
              },
              value: {
                html: registeredAddress
              }
            },
            {
              key: {
                text: "Date of next confirmation statement"
              },
              value: {
                text: company.confirmationStatement.nextMadeUpTo
              }
            },
            {
              key: {
                text: "To be filed by"
              },
              value: {
                text: company.confirmationStatement.nextDue
              }
            }
          ]
        }) }}

        {% if notDueWarning %}
          {{ govukWarningText({
            html: notDueWarningHTML,
            iconFallbackText: "Warning"
          }) }}
        {% endif %}
        {% if company.type === "PLC" %}
          {{ govukWarningText({
            html: coTypeWarningHTML,
            conFallbackText: "Warning"
          }) }}
        {% endif %}
        {% if company.type === 'PLC' %}
          {{ govukButton({
            text: "Confirm and continue",
            href: "/use-webfiling"
          }) }}
        {% else %}
          {{ govukButton({
            attributes: {
              id: "submit"
            },
            text: "Confirm and continue"
          }) }}
        {% endif %}
        <p>
          <a href="/confirmation-statement/company-number" data-event-id="choose-a-different-company-link">Choose a different company</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
