{% extends "layout.html" %}

{% block pageTitle %}
    Submit the confirmation statement
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Submit the confirmation statement</h1>

    <h2 class="govuk-heading-m">
      Company name: {{company.companyName}}<br>
      Company number: {{company.companyNumber}}<br>
      Confirmation statement date: {{nextMadeUpToDate}}</h2>
    <form action="" method="post">
      {% if ecctEnabled %}
        <p>
          {{ govukCheckboxes({
            name: "confirmation-statement",
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset-legend--l"
              }
            },
            items: [
              {
                value: "confirmationStatement",
                html: "I confirm that all information required to be delivered by the company pursuant to " +
                "<a href=" + "https://www.legislation.gov.uk/ukpga/2006/46/section/853A data-event-id=section-831A(1)-information-link>section 853A(1)(a) of the Companies Act 2006</a>" +
                " in relation to the confirmation period ending " +
                "<strong>" + nextMadeUpToDate + "</strong>" + " either has been delivered or is being delivered with this statement.",
                id: "confirmationStatement",
                attributes: {
                  "data-event-id": "confirmation-statement-ticked"
                }
              },
              {
                value: "lawfulActivityStatement",
                html: "I confirm that the intended future activities of the company are lawful.",
                id: "lawfulActivityStatement"
              }
            ]
          }) }}
        </p>
      {% else %}
        <p>By continuing, you confirm that all information required to be delivered by the company pursuant to
          <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/853A" data-event-id="section-831A(1)-information-link">section 853A(1)(a) of the Companies Act 2006</a>
          in relation to the confirmation period ending
          <strong>{{nextMadeUpToDate}}</strong>
          either has been delivered or is being delivered with this statement.
        </p>
      {% endif %}
      {% if isPaymentDue %}
        <p>You will need to pay a fee of £13 to submit your confirmation statement.</p>
      {% endif %}

      {% if isPaymentDue %}
        {{ govukButton({
          text: "Confirm and pay",
          attributes: {
            id: "confirm-and-pay",
            "data-event-id": "confirm-and-pay-button",
            "onclick": "_paq.push(['trackGoal', 4])"
          }
        }) }}
      {% else %}
        {{ govukButton({
          text: "Confirm and submit",
          attributes: {
            id: "confirm-and-submit",
            "data-event-id": "confirm-and-submit-button",
            "onclick": "_paq.push(['trackGoal', 5])"
          }
        }) }}
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}
