{% extends "layout.html" %}

{% block pageTitle %}
  Service offline - File a confirmation statement
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Sorry, the service is unavailable
      </h1>
      <p class="govuk-body-m">You will be able to use the service later.</p>
      <p>We have saved your answers. You can find the saved confirmation statement in the <a href="/your-filings">Your Filings</a> section of your Companies House account.
    </div>
  </div>
{% endblock %}
