{% extends "layout.html" %}
{% block pageTitle %}
    Trading status not supported
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                You cannot use this service
            </h1>
            <p class="govuk-body-m">The company’s trading status can only be changed by filing a confirmation statement through our
                <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" target="_blank" rel="noopener noreferrer">WebFiling service (opens in a new tab)</a>. You will need to sign in to or create a WebFiling account to do this.</p>
        </div>
    </div>
{% endblock %}
