{% extends "../../layouts/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <h1 style="font-family: 'GDS Transport', Arial, Helvetica, sans-serif">{{i18n.pageContent}}</h1>
            <br>
            {{ govukButton({
              text: "Start now",
              href: 'limited-partnership/before-you-file',
              isStartButton: true
            }) }}
        </div>
    </div>
{% endblock %}