{% extends "../../layouts/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set errors = pageProperties.errors %}

{% set title = i18n.SICCSPageTitle %}

{% set summaryDetail %}
  <p class="govuk-body">{{ i18n.SICCSWhatIsDetailExpanderParagraph1 }}</p>
  <p class="govuk-body">{{ i18n.SICCSWhatIsDetailExpanderParagraph2 }}</p>
  <p class="govuk-body">{{ i18n.SICCSWhatIsDetailExpanderParagraph3 }}</p>
  <p class="govuk-body">
    {{ i18n.SICCSWhatIsDetailExpanderParagraph4Start }}
    <a class="govuk-link" href="#">
      {{ i18n.SICCSWhatIsDetailExpanderParagraph4Link }}
    </a>
    {{ i18n.SICCSWhatIsDetailExpanderParagraph4End }}
  </p>
{% endset %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (SL012345)</span>
                    {{ i18n.SICCSPageTitle }}
                </h1>

                <p class="govuk-body">
                    {{ i18n.SICCSTableHeader }}
                </p>    

                <dl class="govuk-summary-list">
                    {% for sCode in sicCodes %}
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{{ sCode.code }}</dt>
                        <dd class="govuk-summary-list__value">{{ sCode.description }}</dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">{{ i18n.SICCSTableRemoveButton }}</a>
                        </dd>
                        </div>
                    {% endfor %}
                </dl>
                 

                <div class="govuk-inset-text">
                    <h2>{{ i18n.SICCSAddSICInsetTitle }}</h2> 
                    <p>{{ i18n.SICCSAddSICInsetInstructions }}</p>
                    {{ govukInput({
                        id: "sic-code-input",
                        name: "sicCodeInput"
                    }) }}
                    {{ govukButton({
                        text: i18n.SICCSAddSICAddCodeButton,
                        classes: "govuk-button--secondary"
                    }) }}
                </div>

                {{ govukDetails({
                    summaryText: i18n.SICCSWhatIsDetailExpanderTitle,
                    html: summaryDetail
                }) }}

                <form action="{{ LP_SIC_CODE_SUMMARY_PATH }}" method="POST">
                {% include "../../partials/csrf-token.njk" %}
                    {{ govukButton({
                        id: 'continue',
                        text: i18n.SICCSSaveContinueButton,
                        type: "submit"
                    }) }}
                </form>    
            </div>
        </div>
    </div>

{% endblock %}