<h2 class="app-task-list__section">
    Addresses
</h2>
<ul class="app-task-list__items">
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="{{taskList.tasks.registeredOfficeAddress.url}}">
                Registered office address
            </a>
        </span>
        {% if taskList.tasks.registeredOfficeAddress.state === "CHECKED" %}
            {{ showChecked | safe | replace("statusIdPlaceholder", "roaStatus")}}
        {% elseif taskList.tasks.registeredOfficeAddress.state === "IN_PROGRESS" %}
            {{ showInProgress | safe | replace("statusIdPlaceholder", "roaStatus")}}
        {% else %}
            {{ showNotChecked | safe | replace("statusIdPlaceholder", "roaStatus")}}
        {% endif %}
    </li>
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="{{taskList.tasks.registerLocations.url}}">
                Register locations
            </a>
        </span>
        {% if taskList.tasks.registerLocations.state === "CHECKED" %}
            {{ showChecked | safe | replace("statusIdPlaceholder", "registersStatus")}}
        {% elseif taskList.tasks.registerLocations.state === "IN_PROGRESS" %}
            {{ showInProgress | safe | replace("statusIdPlaceholder", "registersStatus")}}
        {% else %}
            {{ showNotChecked | safe | replace("statusIdPlaceholder", "registersStatus")}}
        {% endif %}
    </li>
</ul>
