<h2 class="app-task-list__section">
    Nature of business
</h2>
<ul class="app-task-list__items">
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="/confirmation-statement/sic" aria-describedby="contact-details-status">
                SIC codes
            </a>
        </span>
        {% if taskList.sic === 2 %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                Checked</strong>
        {% elseif taskList.sic === 1 %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>
        {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
        {% endif %}
    </li>
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="/confirmation-statement/statement-of-capital" aria-describedby="eligibility-status">
                Statement of capital
            </a>
        </span>
        {% if taskList.statementOfCapital === 2 %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                Checked</strong>
        {% elseif taskList.statementOfCapital === 1 %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>
        {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
        {% endif %}
    </li>
</ul>