<h2 class="app-task-list__section">
    People
</h2>
<ul class="app-task-list__items">
    <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                <a href="{{taskList.tasks.officers.url}}">
                    Officers
                </a>
            </span>
        {% if taskList.officers.state === "CHECKED" %}
            {{ showChecked | safe }}
        {% elseif taskList.officers.state === "IN_PROGRESS" %}
            {{ showInProgress | safe }}
        {% else %}
            {{ showNotChecked | safe }}
        {% endif %}
    </li>
    <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                <a href="{{taskList.tasks.peopleSignificantControl.url}}">
                    People with significant control (PSC)
                </a>
            </span>
        {% if taskList.peopleSignificantControl.state === "CHECKED" %}
            {{ showChecked | safe }}
        {% elseif taskList.peopleSignificantControl.state === "IN_PROGRESS" %}
            {{ showInProgress | safe }}
        {% else %}
            {{ showNotChecked | safe }}
        {% endif %}
    </li>
    <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                <a href="/confirmation-statement/shareholders">
                    Shareholders
                </a>
            </span>
        {% if taskList.shareholders.state === "CHECKED" %}
            {{ showChecked | safe }}
        {% elseif taskList.shareholders.state === "IN_PROGRESS" %}
            {{ showInProgress | safe }}
        {% else %}
            {{ showNotChecked | safe }}
        {% endif %}
    </li>
</ul>
