{% from "govuk/components/header/macro.njk" import govukHeader %}

<!-- New GOV branding -->
{% set govukRebrand = true %}
{% block header %}
    <div class="govuk-template--rebranded">
        {{ govukHeader({
          govukRebrand: true,
          homepageUrl: "https://www.gov.uk/"
        }) }}
    </div>
{% endblock %}

