<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">SAIL (Single Alternative Inspection Location)
    </p>
  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address
        </dt>
        <dd class="govuk-summary-list__value">
          2 Nets Way, Newcastle, NE2 3BB
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Company records
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
              <li>Register of people of significant control</li>
        </dd>
      </div>
    </dl>
  </div>
</div>
<p>Any other company records are kept at the registered office address, or on the public record.</p>
