<h2 class="govuk-heading-m">1 relevant legal entity</h2>
<div class="govuk-summary-card govuk-!-margin-bottom-4">
    <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
        <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{ psc.companyName }}</p>
        {{govukTag({
            text: "Active",
            classes: "govuk-tag--green"
        })}}
    </div>
    <div style="display: flex; border-bottom: 0" class="govuk-!-padding-1">
        <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
            {% if psc.registrationNumber %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Registration number</dt>
                    <dd class="govuk-summary-list__value">
                        <p>{{ psc.registrationNumber }}</p>
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence address</dt>
                <dd class="govuk-summary-list__value">
                    <p>{{ psc.serviceAddressLine_1 }}, {{ psc.serviceAddressPostTown }}, {{ psc.serviceAddressPostCode }}</p>
                </dd>
            </div>
            {% if psc.countryOfResidence %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Country of residence</dt>
                    <dd class="govuk-summary-list__value">
                        <p>{{ psc.countryOfResidence }}</p>
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Law governed</dt>
                <dd class="govuk-summary-list__value">
                    <p>{{ psc.lawGoverned }}</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Legal form</dt>
                <dd class="govuk-summary-list__value">
                    <p>{{ psc.legalForm }}</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Nature of control</dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-bullet__list">
                        {% for noc in psc.naturesOfControl %}
                            <li>
                                <p>{{ noc }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
</div>
