{% extends "layout.html" %}

{% block pageTitle %}
{% if errorList.length > 0 %}
  Error:
{% endif %}  Review the officers
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="" method="post">
        {% if directorErrorMsg %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: directorErrorMsg,
                href: "#active-directors"
            }
          ]
          }) }}
          {% set activeDirectorsError = {
            text: directorErrorMsg
          }
          %}
        {% else %}
          {% set activeDirectorsError = false %}
        {% endif %}
        <h1 class="govuk-heading-l">Check the director's details</h1>
        <h2 class="govuk-heading-m">1 Director</h2>
        {% set directorHTML %}
          {% include "includes/directors.html" %}
        {% endset %}
        {{ govukTable({
          rows: [
            [
              {
                html: directorHTML
              }
            ]
          ]
        }) }}
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "active-directors",
          name: "activeDirectors",
          errorMessage: activeDirectorsError,
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l",
              html: "Is the director still active?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              label: "active-director Yes",
              attributes: {
                "data-event-id": "yes-radio-button"
              }
            },
            {
              value: "no",
              text: "No",
              label: "active-director No",
              attributes: {
                "data-event-id": "no-radio-button"
              }
            },
            {
              value: "yes",
              text: "No, but I've recently filed an update",
              label: "active-director No, but I've recently filed an update",
              attributes: {
                "data-event-id": "recently-filed-radio-button"
              }
            }
          ]
        }) }}
        
        {% include "includes/continue-button.html" %}
        
      </form>
    </div>
  </div>
{% endblock %}