{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Review the officers
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% if officerErrorMsg %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: officerErrorMsg,
            href: "#officers"
          }
        ]
      }) }}
      {% set activeOfficersError = {
        text: officerErrorMsg
      }
      %}
      <h1 class="govuk-heading-l">You need to update the company details</h1>

      <p>You will need to update the officer details on our <a target="_blank" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" rel="noopener noreferrer" data-event-id="webfiling-link">WebFiling service (opens in a new tab)</a> before you can file a confirmation statement. </p>

      <p>Return to this window after you have made the update.</p>

      <form action="" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "officers",
          name: "activeOfficers",
          errorMessage: activeOfficersError,
          fieldset: {
            legend: {
              html: "Have you updated the officer details?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: officerHTML
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                "data-event-id": "yes-radio-button"
              }
            },
            {
              value: "yes",
              text: "No, I do not need to update the officer details",
              attributes: {
                "data-event-id": "recently-filed-radio-button"
              }
            }
          ]
         }) }}
        {{ govukButton({
          text: "Return to confirmation statement",
          href: returnToTaskListUrl,
          attributes: {
            "data-event-id": "return-to-task-list-button",
            "id": "submit"
          }
        }) }}
      </form>
    {% else %}
      {% set activeOfficersError = false %}
      <h1 class="govuk-heading-l">Check the officers' details</h1>

      {% set naturalSecretaryHTML %}
      {% include "includes/natural-secretaries.html" %}
      {% endset %}

      {% set corporateSecretaryHTML %}
        {% include "includes/corporate-secretaries.html" %}
      {% endset %}

      {% set directorHTML %}
        {% include "includes/natural-directors.html" %}
      {% endset %}

      {% set corporateDirectorsHTML %}
        {% include "includes/corporate-directors.html" %}
      {% endset %}

      {% set officerRows = [] %}
      {% if naturalSecretaryList|length %}
        {% set officerRows = (officerRows.push([{html: naturalSecretaryHTML}]), officerRows) %}
      {% endif %}
      {% if corporateSecretaryList|length %}
        {% set officerRows = (officerRows.push([{html: corporateSecretaryHTML}]), officerRows) %}
      {% endif %}
      {% if naturalDirectorList|length %}
        {% set officerRows = (officerRows.push([{html: directorHTML}]), officerRows) %}
      {% endif %}
      {% if corporateDirectorList|length %}
        {% set officerRows = (officerRows.push([{html: corporateDirectorsHTML}]), officerRows) %}
      {% endif %}

      {{ govukTable({
        rows: officerRows
      }) }}

      <form action="" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "officers",
          name: "activeOfficers",
          errorMessage: activeOfficersError,
          fieldset: {
            legend: {
              html: "Are the officer details correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: officerHTML
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                "data-event-id": "yes-radio-button"
              }
            },
            {
              value: "no",
              text: "No",
              attributes: {
                "data-event-id": "no-radio-button"
                }
              },
            {
              value: "yes",
              text: "No, but an update has been submitted",
              attributes: {
                "data-event-id": "recently-filed-radio-button"
              }
            }
          ]
         }) }}
        {{ govukButton({
          text: "Return to confirmation statement",
          href: returnToTaskListUrl,
          attributes: {
            "data-event-id": "return-to-task-list-button",
            "id": "submit"
          }
        }) }}
      </form>
    {% endif %}
    <p>
      <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-cannotfilecs/">What did you think of this service?</a>
      (takes 2 minutes)
    </p>
  </div>
</div>
{% endblock %}
