{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}  Review the people with significant control
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
   }) }}
{% endblock %}

{% block content %}
  {% set pscDetails %}
    <p>A person with significant control (PSC) is someone who owns or controls the company. For example, anyone with voting rights or more than 25% of the shares. For more information,
      <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs">read the guidance on PSCs</a>.</p>
  {% endset %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
          {
            text: "Select yes if the PSC details are correct",
            href: "#psc"
          }
        ]
        }) }}
        {% endif %}
        <form action="" method="post">
          <h1 class="govuk-heading-l">Check the people with significant control (PSCs) details</h1>
          {% set pscDetails %}
            <p>A person with significant control (PSC) is someone who owns or controls the company. For example, anyone with voting rights or more than 25% of the shares. For more information,
              <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs">read the guidance on PSCs</a>.</p>
          {% endset %}

          {{ govukDetails({
            summaryText: "More about people with significant control",
            html: pscDetails
          }) }}

          {% set pscHTML %}
            <h2 class="govuk-heading-m">1 individual person</h2>
            <div class="govuk-summary-card govuk-!-margin-bottom-4">
              <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
                <p class="govuk-!-font-weight-bold govuk-!-margin-0">IRVING, Kyrie</p>
                  {{govukTag({
                    text: "Active",
                    classes: "govuk-tag--green"
                  })}}
              </div>
              <div style="display: flex" class="govuk-!-padding-1" style="border-bottom: 0px">
                <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Nationality</dt>
                      <dd class="govuk-summary-list__value">
                        <p>British</p>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Country of residence</dt>
                      <dd class="govuk-summary-list__value">
                        <p>England</p>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date of birth</dt>
                      <dd class="govuk-summary-list__value">
                        <p>1 January 1988</p>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notification date</dt>
                      <dd class="govuk-summary-list__value">
                        <p>1 January 2019</p>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Correspondence address</dt>
                      <dd class="govuk-summary-list__value">
                        <p>2 Nets Way, Newcastle, NE2 3BB</p>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Usual residential address</dt>
                      <dd class="govuk-summary-list__value">
                        <p>1 Bucks Street, Birmingham, BD6 6JD</p>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Nature of control</dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-bullet__list">
                        <li>
                          <p>Ownership of voting rights - more than 50%</p>
                        </li>
                        <li>
                          <p>Ownership of shares - more than 50%</p>
                        </li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            <h2 class="govuk-heading-m">1 relevant legal entity</h2>
            <div class="govuk-summary-card govuk-!-margin-bottom-4">
              <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
                <p class="govuk-!-font-weight-bold govuk-!-margin-0">BROOKLYN NETS LIMITED</p>
                {{govukTag({
                  text: "Active",
                  classes: "govuk-tag--green"
                })}}
              </div>
              <div style="display: flex" class="govuk-!-padding-1" style="border-bottom: 0px">
                <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notification date</dt>
                    <dd class="govuk-summary-list__value">
                      <p>1 January 2019</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Correspondence address</dt>
                    <dd class="govuk-summary-list__value">
                      <p>2 Nets Way, Newcastle, NE2 3BB</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Legal form</dt>
                    <dd class="govuk-summary-list__value">
                      <p>Limited company</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Law governed</dt>
                    <dd class="govuk-summary-list__value">
                      <p>Company law</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Place registered</dt>
                    <dd class="govuk-summary-list__value">
                      <p>UK</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Incorporated in</dt>
                    <dd class="govuk-summary-list__value">
                      <p>UK</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Registration number</dt>
                    <dd class="govuk-summary-list__value">
                      <p>ABC1234</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Nature of control</dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-bullet__list">
                        <li>
                          <p>Ownership of voting rights - more than 75%</p>
                        </li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>


            <h2 class="govuk-heading-m">1 other registrable person</h2>
            <div class="govuk-summary-card govuk-!-margin-bottom-4">
              <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
                <p class="govuk-!-font-weight-bold govuk-!-margin-0">AYR BAPTIST CHURCH</p>
                 {{govukTag({
                  text: "Active",
                  classes: "govuk-tag--green"
                 })}}
              </div>
              <div style="display: flex" class="govuk-!-padding-1" style="border-bottom: 0px">
                <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notification date</dt>
                    <dd class="govuk-summary-list__value">
                      <p>1 January 2019</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Correspondence address</dt>
                    <dd class="govuk-summary-list__value">
                      <p>9 Mews Lane, Ayr, Scotland</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Legal form</dt>
                    <dd class="govuk-summary-list__value">
                      <p>Charity - Unincorporated Association</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Law governed</dt>
                    <dd class="govuk-summary-list__value">
                      <p>UK</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Nature of control</dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-bullet__list">
                        <li>
                          <p>Ownership of voting rights - more than 75%</p>
                        </li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          {% endset %}

          {{ govukTable({
            rows:
            [
              [
                {
                  html: pscHTML
                }
              ]
            ]
          }) }}
          {% if scenario.company.recentFiling === 'yes' %}
            {% if psc === 'yes' %}
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "psc",
                name: "psc",
                errorMessage: pscDetailsError,
                fieldset: {
                  legend: {
                    html: "Are the PSC details correct?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },

                items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                },
                {
                  value: "yes",
                  text: "No, but an update has been submitted"
                }
              ]
            }) }}
            {% elseif psc === 'no' %}
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "psc",
                name: "psc",
                errorMessage: pscDetailsError,
                fieldset: {
                  legend: {
                    html: "Are the PSC details correct?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No",
                    checked: true
                  },
                  {
                    value: "yes",
                    text: "No, but an update has been submitted"
                  }
                ]
              }) }}
            {% else %}
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "psc",
                name: "psc",
                errorMessage: pscDetailsError,
                fieldset: {
                  legend: {
                    html: "Are the PSC details correct?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  },
                  {
                    value: "yes",
                    text: "No, but an update has been submitted"
                  }
                ]
              }) }}
              {% endif %}
            {% else %}
            {% if psc === 'yes' %}
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "psc",
                name: "psc",
                errorMessage: pscDetailsError,
                  fieldset: {
                    legend: {
                      html: "Are the PSC details correct?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                     value: "no",
                     text: "No"
                  }
                ]
              }) }}
            {% elseif psc === 'no' %}
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "psc",
                name: "psc",
                errorMessage: pscDetailsError,
                fieldset: {
                  legend: {
                    html: "Are the PSC details correct?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No",
                    checked: true
                  },
                  {
                    value: "yes",
                    text: "No, but an update has been submitted"
                  }
                ]
              }) }}
            {% else %}
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "psc",
                name: "psc",
                errorMessage: pscDetailsError,
                fieldset: {
                  legend: {
                    html: "Are the PSC details correct?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  },
                  {
                    value: "yes",
                    text: "No, but an update has been submitted"
                  }
                ]
              }) }}
            {% endif %}
          {% endif %}

          {{ govukButton({
            text: "Continue"
            }) }}
        </form>
    </div>
  </div>
{% endblock %}
