{% extends "layout.html" %}

{% block pageTitle %}
{% if errorList.length > 0 %}
  Error:
{% endif %}  Review the directors
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select yes if the active directors are correct",
                href: "#active-directors"
            }
          ]
          }) }}
        {% endif %}
        <h1 class="govuk-heading-l">Check the active director</h1>
        <h2 class="govuk-heading-m">1 Director</h2>
        {% set directorHTML %}
          Irving, Kyrie
        {% endset %}
        {% set director2HTML %}
        <ul class="govuk-list govuk-list--bullet">
          <li>Fran Francis</li>
          <li>Appointed: 17 March 2012</li>
          <li>Date of birth: May 1990</li>
          <li>Correspondence address:<br>2 Nets Way<br>Newcastle<br>NE2 3BB</li>
        </ul>
        {% endset %}
        {{ govukTable({
          rows: [
            [
              {
                html: directorHTML
              }
            ]
          ]
        }) }}
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "active-directors",
          name: "active-directors",
          errorMessage: activeDirectorsError,
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l",
              html: "Is the director still active?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true,
              label: "active-officer Yes"
            },
            {
              value: "no",
              text: "No",
              label: "active-officer No"
            },
            {
              value: "yes",
              text: "No, but I've recently filed an update",
              label: "active-officer No, but I've recently filed an update"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}