{% extends "layout.html" %}

{% block pageTitle %}
  Review where the company records are held
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if registerLocationsErrorMsg %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [
                {
                  text: registerLocationsErrorMsg,
                  href: "#registerLocation"
                }
              ]
            }) }}
          {% set registerLocationsErrorMsg = {
              text: registerLocationsErrorMsg
            } %}
        {% else %}
          {% set registerLocationsErrorMsg = false %}
        {% endif %}

      <h1 class="govuk-heading-l">Check where the company records are kept</h1>

        {% if registers === 'no' %}
          {{ govukInsetText({
            html: "A filing to update these details has been received. You can continue filing this confirmation statement, even if the change is not yet reflected on this page." }) }}
        {% endif %}

        {% include "tasks/includes/register.html" %}

          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "registers",
            name: "registers",
            errorMessage: registerLocationsErrorMsg,
            fieldset: {
              legend: {
                html: "Is this where the company records are kept?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: registerHTML
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                attributes: {
                  "data-event-id": "yes-radio-button"
                }
              },
              {
                value: "no",
                text: "No",
                attributes: {
                  "data-event-id": "no-radio-button"
                }
              },
              {
                value: "yes",
                text: "No, but i've recently filed an update",
                attributes: {
                  "data-event-id": "recently-filed-radio-button"
                }
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
      </div>
    </div>
  {% endblock %}