{% extends "layout.html" %}

{% block pageTitle %}
  Review where the company records are held
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if registerLocationsErrorMsg %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [
                {
                  text: registerLocationsErrorMsg,
                  href: "#registers"
                }
              ]
            }) }}
          {% set registerLocationsErrorMsg = {
              text: registerLocationsErrorMsg
            } %}

          <h1 class="govuk-heading-l">You need to update the company details</h1>

          <p>You will need to update where the company records are kept on our <a target="_blank" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" rel="noopener noreferrer" data-event-id="webfiling-link">WebFiling service (opens in a new tab)</a> before you can file a confirmation statement. </p>
      
          <p>Return to this window after you have made the update.</p>

          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "registers",
            name: "registers",
            errorMessage: registerLocationsErrorMsg,
            fieldset: {
              legend: {
                html: "Have you updated where the company records are kept?",
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: registerHTML
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                attributes: {
                  "data-event-id": "yes-radio-button"
                }
              },
              {
                value: "es",
                text: "No, I do not need to update where the company records are kept",
                attributes: {
                  "data-event-id": "no-radio-button"
                }
              }
            ]
          }) }}
        {% else %}
          {% set registerLocationsErrorMsg = false %}

          <h1 class="govuk-heading-l">Check where the company records are kept</h1>

          {% include "tasks/includes/register.html" %}
  
            {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "registers",
              name: "registers",
              errorMessage: registerLocationsErrorMsg,
              fieldset: {
                legend: {
                  html: "Is this where the company records are kept?",
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                html: registerHTML
              },
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  attributes: {
                    "data-event-id": "yes-radio-button"
                  }
                },
                {
                  value: "no",
                  text: "No",
                  attributes: {
                    "data-event-id": "no-radio-button"
                  }
                },
                {
                  value: "recently_filed",
                  text: "No, but an update has been submitted",
                  attributes: {
                    "data-event-id": "recently-filed-radio-button"
                  }
                }
              ]
            }) }}
        {% endif %}
        {{ govukButton({
          text: "Return to confirmation statement",
          href: returnToTaskListUrl,
          attributes: {
            "data-event-id": "return-to-task-list-button",
            "id": "submit"
          }
        }) }}
        </form>
        <p>
          <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-cannotfilecs/">What did you think of this service?</a>
          (takes 2 minutes)
        </p>
      </div>
    </div>
  {% endblock %}
