{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}  Review the statement of capital
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="" method="post">

            {% if statementOfCapitalErrorMsg %}
              {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                {
                  text: statementOfCapitalErrorMsg,
                  href: "#statement-of-capital"
                }
              ]
              }) }}
              {% set statementOfCapitalError = {
                text: statementOfCapitalErrorMsg
              } %}
            {% else %}
              {% set statementOfCapitalError = false %}
            {% endif %}

            <h1 class="govuk-heading-l">Check the statement of capital</h1>

            {% include "includes/statement-of-capital.html" %}

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "statement-of-capital",
              name: "statementOfCapital",
              errorMessage: statementOfCapitalError,
              fieldset: {
                legend: {
                  text: "Is the statement of capital correct?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

            {% include "includes/continue-button.html" %}
        </form>
    </div>
</div>
{% endblock %}
