{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Incorrect register - File a confirmation statement
{% endblock %}
{% block backLink %}
    {% include "includes/back-link.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-l">
          You need to update the company details
        </h1>
        <p>You will need to update where the company records are kept on our 
          <a target="_blank" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" rel="noopener noreferrer" data-event-id="webfiling-link">WebFiling service (opens in a new tab)</a>
           before you can file a confirmation statement.</p>
        
        <p>Return to this window after you have made the update.</p>

        {{ govukRadios({
          idPrefix: "update-status",
          name: "update-status",
          fieldset: {
            legend: {
              text: "Have you updated where the company records are kept?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, I do not need to update where the company records are kept"
            }
          ]
        }) }}

        {{ govukButton({
            text: "Return to confirmation statement",
            href: taskListUrl,
            attributes: {
              "data-event-id": "return-to-confirmation-statement-link"
            }
        }) }}
        
      <p><a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongreg/">What did you think of this service?</a>
      (takes 2 minutes)
      </p>
      </form>
    </div>
  </div>
{% endblock %}
