{% extends "layout.html" %}

{% block pageTitle %}
  Incorrect people with significant control - File a confirmation statement
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You need to update the company details
      </h1>

      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step step-is-shown" id="check-youre-allowed-to-drive">
          <div class="app-step-nav__header" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>
              <span class="js-step-title">
                Update the people with significant control (PSC) details
              </span>
            </h2>
          </div>
          {% include "includes/wrong-information-step-by-step.html" %}
        </li>
      </ol>

      {{ govukButton({
        text: "Return to confirmation statement",
        href: returnToTaskListUrl
      }) }}

      <p>
        <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongactivepsc/">What did you think of this service?</a>
        (takes 2 minutes)
      </p>

    </div>
  </div>
{% endblock %}
