{% extends "layout.html" %}

{% block pageTitle %}
  Incorrect people with significant control - File a confirmation statement
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You need to update the company details
      </h1>

      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step step-is-shown" id="check-youre-allowed-to-drive">
          <div class="app-step-nav__header" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>
              <span class="js-step-title">
                Update the people with significant control (PSC) details
              </span>
            </h2>
          </div>

          <div>
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <p>You can update these details online using the relevant form on our
                  <a rel="noopener noreferrer" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" target="_blank">WebFiling service (opens in a new tab)</a>.
                </p>
              </li>
            </ol>
          </div>

          <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Return to this service
                </span>
              </h2>
            </div>

            <div>
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <p>Close the WebFiling tab on your device to return to this screen.</p>
                  <p>If this session has timed out, you will need to sign back in to the <a href="/confirmation-statement">File a confirmation statement service</a>.</p>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Continue filing your confirmation statement
                </span>
              </h2>
            </div>

            <div>
              <p>Return to any section marked <strong class="govuk-tag govuk-tag--blue">Ready to continue</strong> to confirm that an update has been filed.</p>
              <p>You do not need to wait for the update to be processed and accepted.</p>
            </div>
          </li>
        </li>
      </ol>

      {{ govukButton({
        text: "Return to confirmation statement",
        href: returnToTaskListUrl
      }) }}

      <p>
        <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongactivepsc/">What did you think of this service?</a>
        (takes 2 minutes)
      </p>

    </div>
  </div>
{% endblock %}
