{% extends "../../../layout.html" %}

{% block pageTitle %}
  Transitional Return required - Limited Partnership
{% endblock %}
{% block signOut %}{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            You need to provide new required information about this limited partnership
        </h1>
        <p>Before you can file a confirmation statement, you must first provide additional information about this limited partnership.</p>
        <p>This is a new legal requirement for all limited partnerships that were registered before {{ lpReformDatePlusOne }}.</p>

        <p><a data-event-id="start-again" href="">Provide new required information about a limited partnership</a>.</p>
    </div>
</div>
{% endblock %}
