{% extends "../../../layout.html" %}

{% block pageTitle %}
  Transitional Return required - Limited Partnership
{% endblock %}
{% block signOut %}{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            PLACEHOLDER SCREEN - DO NOT USE - COVERED BY CSE-953 - UCD DESIGN REQUIRED
        </h1>
        <h1 class="govuk-heading-xl">
            Transitional Return required
        </h1>
        <p>{{ company.companyName }} appears to be a limited partnership that requires a Transitional Return.</p>
        <p>Please complete a Transitional Return (form LPTS01) as instructed. Further content will be provided by CSE-953.</p>
        <p>If this is the wrong partnership, you can <a data-event-id="start-again" href="/confirmation-statement">start the service again</a>.</p>
    </div>
</div>
{% endblock %}
